@model IEnumerable<SegundoParcialMVC.Models.Statement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatementNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatementDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatementAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatementCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatementNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatementDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatementAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatementCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
